.slide{
    border: 5px solid red;
    height: 200px;width: 200px;
    background-color: aqua;
}
.slide{
    animation-name: sliding;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
@keyframes sliding{
    from{
        background-color: blue;
        border: 5px solid rgba(11, 239, 239, 0.692);
        transform: translateX(0px);
    }
    
    to{
        background-image: url("img2.jpg");
        background-size: cover;
        border: 10px dotted grey;
        box-shadow: 5px 5px 9px skyblue;
        transform: translateX(210px);
    }
}
.reverse{
    border: 5px solid gray;
    background-color: red;
    height: 200px;width: 200px;
}
.reverse{
    animation-name: reverse;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes reverse{
    0%{
        background-image: url("img1.jpg");
        background-size: cover;
        border: 5px dotted green;
        box-shadow: 5px 5px 9px blue;
        transform: translate(0px,0px);
    }
    25%{
        background-color: rgb(22, 222, 89);
        border: 10px solid blueviolet;
        transform: translate(200px,0px);
    }
    50%{
        background-image: url("img2.jpg");
        background-size: cover;
        border: 5px  orangered dotted;
        box-shadow: 10px 20px 10px gold;
        transform: translate(200px,200px);
    }
    75%{
        background-color: cornflowerblue;
        border:10px brown groove ;
        transform: translate(0px,200px);
    }
    100%{
        background-image: url("img3.jpg");
        background-size: cover;
        border: 3px dotted dodgerblue;
        box-shadow: 5px 5px 10px magenta;
        transform: translateX(0px,0px);
    }
}