p
{
    text-align: center;
    font-family:cursive;
    font-size: 30px;
    color: fuchsia;
}

#d1
{
    border: 20px solid;
    padding: 25px;
    background-color:rgb(138, 46, 224) ;
    margin: 50px;
}
body
{
    background-color:rgb(48, 168, 228);
    margin: 20px;
    font-size: 30px;
    font-style: oblique;
    color:brown;
    text-transform: uppercase;   
}
img
{
    border: 20px solid white;
    border-block-start-color: aquamarine;
    border-block-end-color:rgb(217, 148, 19) ;
    border-radius: 50%;
}
h1
{
    background-image: url("spiderMan.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}