/* Doing the styling on div d1 */
#d1
{
    height: 100px;
    width: 200px;
    background-image: url("img1.jpg");
    background-size: cover;
}
/* Doing the styling on div d2 */
#d2
{
    height: 100px;
    width: 300px;
    background-image: url("img2.jpg");
    background-size: cover;
}
/* Doing the styling on div d3 */
#d3
{
    height: 100px;
    width: 400px;
    background-image: url("img3.jpg");
    background-size: cover;
}
body
{
    background-image: url("spiderMan.jpeg");
    background-size: cover;
}
#d1,#d2,#d3
{
    color: white;
    
}